*{
    margin: 0px;
    padding: 0px;
}
.main{
    justify-content: center;
    align-items: center;
    margin:170px auto;
    display: grid;
    text-align:center;
    width: 500px;
    box-shadow:2px 3px 10px 2px gray;
    border-radius: 5px;
}
.main-name{
    font-weight: bold;
    font-size: xx-large;
    margin-top: 15px;
}

.input input{
    margin-top:20px;
    width:100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
}

.btn {
    width: 200px;
    height: 40px;
    background-color: black;
    cursor: pointer;
    color: white;
    font-size:large;
    font-weight: bold;
    border-radius: 5px;
    margin: 20px auto;

}


